
* {
    box-sizing: border-box;
}

BODY {
    background-color: #222;
}

.bar {
  position: fixed;
  left:0;
  right:0;
  top:0;
  background-color: #000;
  border-bottom:1px solid #ccc;
  box-shadow: 0px 1px 2px #000;
  padding:10px;
  z-index: 1000;
}

.viewer {
  padding-top:50px;
}

.bar select {
  border-radius: 5px;
  font-family: florante_at_lauraregular;
  background-color: #000;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  color:#fff;
  padding:5px;
}

.bar .button {
  transition: all 0.3s;
  border-radius: 5px;
  font-family: florante_at_lauraregular;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  color:#fff;
  padding:5px;
  display:inline-block;
  transform: scale(1) rotate(0);
}

.bar .button:hover {
  transform: scale(1.1) rotate(-1deg);
}

.bar .logo {
  position: absolute;
  left:0;
  right:0;
  top:10px;
  bottom:-10px;
  pointer-events:none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bar .right {
  position: absolute;
  left:50vw;
  right:10px;
  top:10px;
  text-align: right;
}

.footer {
  margin:50px 0 10px 0;
  padding-bottom: 20px;
  font-size: 14px;
  text-align: center;
  color:#999;
  font-family: seshat;
  text-shadow: 0px 1px 1px #000;
}

.footer A {
  color:#f00;
}

.coloringbookbox {
  width: 40%;
  margin: auto;
  color:#fff;
  font-family: seshat;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

.coloringcolorbutton {
  font-family: ferrum;
  display: inline-block;
  background-color: #fff;
  color:#000;
  padding:10px;
  margin-bottom: 10px;
  font-size: 24px;
  box-shadow: 2px 2px 1px #000;
  transform:rotate(-2deg);
  margin-top:20px;
  cursor: pointer;
  user-select: none;
}

.coloringbookheader {
  background-image:url('../images/coloring.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height:350px;
  margin:30px 0 30px 0;
}

.charactersheet {
  width: 40%;
  margin: auto;
}

.characterroller {
  transition: 0.1s all;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  margin:20px 0;
  height:140px;
  line-height: 190px;
  width:50%;
  margin: 30px auto 20px auto;
  background-image: url(../database/extrapages/roll.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transform: rotate(-5deg);
  user-select: none;
}

.characterroller:hover {
  transform: rotate(5deg);
}

.characterroller .text {
  color:#000;
  background-color: #fff;
  padding:3px;
  box-shadow: 0px 1px 1px #000;
}

.sheetsegmentedbar, .sheetbar, .sheetboxes {
  font-family: seshat;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-top: 1px solid #fff;
}

.sheetsegmentedbar, .sheetbar {
  padding:15px 0;
}

.sheetbar {
  text-align: center;
}

.sheetkey {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.sheetsegmentedbar, .sheetboxes {
  display: flex;
}

.sheetsegmentedbar .sheetitem, .sheetboxes .sheetitem {
  flex-grow: 1;
}

.sheetboxes .sheetitem {
  padding:15px;
  width: 50%;
}

.sheetboxes .sheetitem:first-child {
  border-right: 1px solid #fff;
}

.sheetboxes .sheetvalueitem {
  padding:3px 0;
}

.sheetboxes .sheetheader {
  font-family: ferrum;
  display: inline-block;
  background-color: #fff;
  color:#000;
  padding:10px 2px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 2px 2px 1px #000;
  transform:rotate(-2deg);
}

@counter-style crosses {
  system: cyclic;
  symbols: "\2715";
  suffix: " ";
}

@counter-style balloonasterisk {
  system: cyclic;
  symbols: "\2724";
  suffix: " ";
}

@counter-style rightarrow {
  system: cyclic;
  symbols: "\2771";
  suffix: " ";
}

@counter-style diamond {
  system: cyclic;
  symbols: "\2756";
  suffix: " ";
}

@media (max-width: 1300px) {

  .charactersheet {
    width:70%;
  }
}

@media (max-width: 1100px) {

  .charactersheet {
    width: 100%;
  }

  .coloringbookheader {
    margin-top:60px;
    height:200px;
  }
  
}

@media (max-width: 600px) {
  .bar .logo {
    top:45px;
    bottom: -35px;
  }

  .footer {
    font-size: 12px;
  }

  .sheetsegmentedbar, .sheetboxes {
    flex-direction: column;
  }

  .sheetsegmentedbar .sheetitem {
    text-align: center;
    margin:5px 0;
  }

  .sheetboxes .sheetitem {
    width: auto;
  }

  .sheetboxes .sheetitem:first-child {
    border-right: 0;
    border-bottom: 1px solid #fff;
  }

  .characterroller {
    margin: 50px auto 20px auto;
  }

  .coloringbookbox {
    width: 100%;
    padding:0 10px;
  }

  .coloringbookheader {
    margin-top:60px;
    height:250px;
  }

}

@media print {
  .bar, .footer {
    display: none !important;
  }
  .page {
    width:100%; 
    height:100%;
    page-break-after:always;
  }
}