@font-face {
    font-family: 'smokumregular';
    src: url('Smokum-Regular-webfont.eot');
    src: url('Smokum-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

